.flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.fdc {
    flex-direction: column;
}

.aife {
    align-items: flex-end;
}
.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}
.jcfe {
    justify-content: flex-end !important;
}
.aic {
    align-items: center;
}
